<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{str}}
        <!-- vue의 속성을 이용해서 bind할게~ -->
        <p v-bind:id="uuid">{{num}}</p>
        <p v-bind:class="name">{{doubleNum}}</p>
        <p>{{trippleNum}}</p>
        <div v-if="loading">
            Loading...
        </div>
        <div v-else>
            test user has been logged in
        </div>
        <div v-show = "loading">
            Loading...
        </div>
        <!-- TODO 인풋박스를 만들고 입력된 값을 p태그에 출력해보세요 -->
        <input type="text" v-model="message">
        <p>{{message}}</p>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script>
        var input = document.querySelector('input');//vue가 없을때 input 접근방법.

        new Vue({
            el:'#app',
            data:{
                str:'hi',
                num: 10,
                uuid:'abc1234',
                name:'text-blue',
                loading:true,
                message: ''
            },
            computed: {
                doubleNum: function(){
                    return this.num *2;
                }
            }
        })
    </script>

</body>
</html>